asgiref==3.5.0
aspose-words
backports.zoneinfo;python_version<"3.9"
Django==4.0.3
docx2pdf==0.1.8
lxml==4.8.0
mysqlclient==2.1.0
pbr==0.11.1
Pillow==9.1.0
python-docx==0.8.11
PyYAML==6.0
six==1.16.0
sqlparse==0.4.2
tqdm==4.64.0
gunicorn
psycopg2
pygresql
